@using Skal_vi_videre

<!DOCTYPE html>

<br>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Skal-vi-videre.styles.css"]" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <!-- Load Google Maps API first -->
    <script src="https://maps.googleapis.com/maps/api/js?@Secrets.APIKey"></script>
    <!-- Then load your custom Google Maps script -->
    <script src="js/Google-maps.js"></script>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
