@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello Ozan og Thue tjek mit pullrequest!</h1>


<h2>Hej Ozan, du er den bedste!</h2>"
<h2>Hej Ozan, du er den bedste!</h2>"

<h2>Hej Thue, du er den værste!</h2>"
<h2>Hejsan från Sverige</h2>


Welcome to your new app.
