@page "/"
@inject NavigationManager NavigationManager

<div class="container mt-5">
    <div class="row">
        <!-- Left Section for Big Text and small text -->
        <div class="col-lg-6 text-container">
            <h1 class="big-text">
                Opret din virksomhed nu og lad kunderne finde dig –- nemt og hurtigt!
            </h1>
            <p class="small-text">
                Gratis og nemt at betjene. Du laver et event, og kunderne kan se dit event på deres app på mobiltelefonen.
            </p>
            <!-- Button Below the Text -->
            <button class="btn btn-primary create-button" @onclick="NavigateToCreatePage">
                Opret virksomhed
            </button>
        </div>

        <!-- Image Section on the Right with margin -->
        <div class="col-md-6 d-flex justify-content-center justify-content-md-end mt-4 mt-md-0">
            <img src="images/skal vi videre endelig logo.png" alt="Image Description" class="img-fluid" style="max-width: 90%; height: auto;" />
        </div>
    </div>
</div>

@code {
    private void NavigateToCreatePage()
    {
        NavigationManager.NavigateTo("/Register");
    }
}